<Layouts.app flash={@flash}>
  <.header>
    Listing Projects
    <:actions>
      <.button href={~p"/projects/new"}>
        <.icon name="hero-plus" /> New Project
      </.button>
    </:actions>
  </.header>

  <.table id="projects" rows={@projects} row_click={&JS.navigate(~p"/projects/#{&1}")}>
    <:col :let={project} label="Name">{project.name}</:col>
    <:col :let={project} label="Description">{project.description}</:col>
    <:col :let={project} label="Source language">{project.source_language}</:col>
    <:col :let={project} label="Framework">{project.framework}</:col>
    <:col :let={project} label="Repository url">{project.repository_url}</:col>
    <:col :let={project} label="Status">{project.status}</:col>
    <:action :let={project}>
      <div class="sr-only">
        <.link navigate={~p"/projects/#{project}"}>Show</.link>
      </div>
      <.link navigate={~p"/projects/#{project}/edit"}>Edit</.link>
    </:action>
    <:action :let={project}>
      <.link href={~p"/projects/#{project}"} method="delete" data-confirm="Are you sure?">
        Delete
      </.link>
    </:action>
  </.table>
</Layouts.app>
