<Layouts.app flash={@flash}>
  <.header>
    Project {@project.id}
    <:subtitle>This is a project record from your database.</:subtitle>
    <:actions>
      <.button navigate={~p"/projects"}>
        <.icon name="hero-arrow-left" />
      </.button>
      <.button variant="primary" navigate={~p"/projects/#{@project}/edit?return_to=show"}>
        <.icon name="hero-pencil-square" /> Edit project
      </.button>
    </:actions>
  </.header>

  <.list>
    <:item title="Name">{@project.name}</:item>
    <:item title="Description">{@project.description}</:item>
    <:item title="Source language">{@project.source_language}</:item>
    <:item title="Framework">{@project.framework}</:item>
    <:item title="Repository url">{@project.repository_url}</:item>
    <:item title="Status">{@project.status}</:item>
  </.list>
</Layouts.app>
